.input{
			width: 22rem;
			height: 1.8rem;
			margin-bottom: 1rem;
      

		}

.errMsg{
			background-color: red;
			color:white;
            border-radius: 5px;
		}

		.errInput {
  border: 1px solid red !important;
  outline: none;           /* remove focus outline */
  box-shadow: none !important; /* remove any shadows */
}
.sucrssInput {
  border: 1px solid green !important;
  outline: none;           /* remove focus outline */
  box-shadow: none !important; /* remove any shadows */
}

.accountAction{
	width: 90%;
	height: 3rem;
    padding: 10px;
}
.accountAction a{
	color: #333435 ;
}

.accountAction:hover{
	background-color: #03102e;
	border: 1px solid rgb(68, 105, 206);
	border-radius: 15px;	
}
.accountAction:hover a{
	color: white;
}


.accountActionLogout{
	width: 90%;
	height: 3rem;
    padding: 10px;
	
}
.accountActionLogout a{
	color: #ca0707 ;
}
.accountActionLogout:hover{
	background-color: #ca0707;
	border: 1px solid rgb(231, 233, 238);
	border-radius: 15px;	
}
.accountActionLogout:hover a{
	color: white;
}

